{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3>ورود</h3>
                </div>

                <div class="card-body">

                    <form method="post" action="/login" id="login_form">

                        {% if message != 'nothing' %}
                            <div class="alert alert-danger" id="error" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}

                        {% csrf_token %}

                        {{ form.as_p }}


                        <input type="submit" value="ورود" class="btn float-right login_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
