{% extends 'base.html' %}

{% block content %}


    <form id="register_form" action="/register" method="POST">
        {% csrf_token %}
        <div class="container">
            <h1>ثبت نام</h1>
            <hr>

            {% if message != 'nothing' %}

                <div class="alert alert-danger" role="alert">

                    {{ message }}

                </div>


            {% endif %}

            {{ form.as_table }}
            {#                        <label for="firstname"><b>First name</b></label>#}
            {#                        <br>#}
            {#                        <input type="text" placeholder="Enter Firstname" name="firstname" required>#}
            {#                        <label for="lastname"><b>Last name</b></label>#}
            {#                        <br>#}
            {#                        <input type="text" placeholder="Enter Lastname" name="lastname" required>#}
            {#                        <label for="username"><b>Username</b></label>#}
            {#                        <br>#}
            {#                        <input type="text" placeholder="Enter Username" name="username" required>#}
            {#                        <label for="email"><b>Email</b></label>#}
            {#                        <br>#}
            {#                        <input type="text" placeholder="Enter Email" name="email" required>#}
            {#                        <label for="psw"><b>Password</b></label>#}
            {#                        <input type="password" placeholder="Enter Password" name="psw" required>#}
            {#                        <label for="psw-repeat"><b>Repeat Password</b></label>#}
            {#                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>#}
            <br>

            <br>
            <div class="clearfix">
                <button type="button" class="cancelbtn">لغو</button>
                <button type="submit" class="signupbtn">ثبت نام</button>
            </div>
        </div>
    </form>

{% endblock %}