
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<title>seDa EDU</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css'>

    <script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body translate="no">

<div class="ui fixed borderless huge menu">
<div class="ui container grid">

<div class="computer only row">


<a class="header item">seDa EDU</a>
<a class="active item">Home</a>
<a class="item">About</a>
<a class="item">Contact</a>
<a class="ui dropdown item">Dropdown<i class="dropdown icon"></i></a>

<div class="ui fluid popup bottom left transition hidden" style="top: 553px; left: 1px; bottom: auto; right: auto; width: 657px;">
<div class="ui four column relaxed divided grid">
<div class="column">
<h4 class="ui header">Fabrics</h4>
<div class="ui link list">
<a class="item">Cashmere</a>
<a class="item">Linen</a>
<a class="item">Cotton</a>
<a class="item">Viscose</a>
</div>
</div>
<div class="column">
<h4 class="ui header">Size</h4>
<div class="ui link list">
<a class="item">Small</a>
<a class="item">Medium</a>
<a class="item">Large</a>
<a class="item">Plus Sizes</a>
</div>
</div>
<div class="column">
<h4 class="ui header">Colors</h4>
<div class="ui link list">
<a class="item">Neutrals</a>
<a class="item">Brights</a>
<a class="item">Pastels</a>
</div>
</div>
<div class="column">
<h4 class="ui header">Types</h4>
<div class="ui link list">
<a class="item">Knitwear</a>
<a class="item">Outerwear</a>
<a class="item">Pants</a>
<a class="item">Shoes</a>
</div>
</div>
</div>
</div>

<div class="right menu">


</div>
</div>


<div class="tablet mobile only row">
<a class="header item"> Project Name</a>
<div class="right menu">
<a class="menu item">
<div class="ui basic icon toggle button">
<i class="content icon"></i>
</div>
</a>
</div>
<div class="ui vertical accordion borderless fluid menu">

<div class="item">
<div class="ui icon input">
<input type="text" placeholder="Search...">
<i class="search link icon"></i>
</div>
</div>

<a class="active item"> Home</a>
<a class="item"> About</a>
<a class="item"> Contact</a>
<div class="item">
<div class="title">
Dropdown<i class="dropdown icon"></i>
</div>
<div class="content">
<div class="item">
Action
</div>
<div class="item active">
Another action
</div>
<div class="item">
Something else here
</div>
<div class="ui divider"></div>
<div class="header item">
Navbar header
</div>
<div class="item">
Seperated link
</div>
<div class="item">
One more seperated link
</div>
</div>
</div>
<div class="ui divider"></div>
<a class="item" href="#">Default</a>
<a class="item" href="#">Static top</a>
<a class="active item" href="#">Fixed top</a>
</div>
</div>

</div>
</div>

<div class="ui container">
<div class="ui message">
<h1 class="ui huge header">
Navbar example
</h1>
<p class="lead">
This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
</p>
<p class="lead">
To see the difference between static and fixed top navbars, just scroll.
</p>
<a class="ui big purple button">View navbar docs &raquo; </a>
</div>
</div>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js'></script>
</body>
</html>

