{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex justify-content-center">
            <form action="/contact" method="post" id="contact_us_form">
                {% csrf_token %}


                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> تماس با ما</h3>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--Body-->

                        {{ form }}

                        <div class="text-center">
                            <input type="submit" value="ارسال" class="btn btn-info btn-block rounded-0 py-2">
                            {% if sent %}
                                <div id="done">درخواست شما ثبت شد</div>
                            {% endif %}
                        </div>


                    </div>


                </div>

        </div>
        </form>


    </div>
    </div>

{% endblock %}