{% extends 'base.html' %}

{% block content %}



    <form id="search_form" method="post">
    {% csrf_token %}
        {{ form }}
        <button name="submit">Search</button>

    </form>

    <div id="search_results">نتایج جستجو

    </div>



    <div id="all_courses">

        {% for course in courses %}

            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>دانشکده: {{ course.department }}</div>
                <div>روز: {{ course.days.first }} و {{ course.days.second }}</div>
                <div>زمان: {{ course.times.start }} تا {{ course.times.end }}</div>
                <div>نام استاد: {{ course.teacher }}</div>
            </div>

        {% endfor %}

    </div>

{% endblock %}