{% extends 'base.html' %}

{% block content %}



    <form id="search_form" method="post">
        {% csrf_token %}
        {{ form }}
        <button name="submit">Search</button>

    </form>



    <div id="{% if search %}search_result{% else %}all_courses{% endif %}">

        {% for course in courses %}



            <div class="{{ course.course_number }}_{{ course.group_number }}">

                {% if search %}

                    {{ course.course_name }}
                    <br>
                    {{ course.teacher }}

                {% else %}

                    <h4>{{ course.course_name }}</h4>
                    <div>دانشکده: {{ course.department }}</div>
                    <div>روز: {{ course.days.first }} و {{ course.days.second }}</div>
                    <div>زمان: {{ course.times.start }} تا {{ course.times.end }}</div>
                    <div>نام استاد: {{ course.teacher }}</div>

                {% endif %}


            </div>

        {% endfor %}

    </div>

{% endblock %}