{% extends 'base.html' %}

{% block content %}

    {% if user.is_superuser %}
        <a type="button" class="btn btn-primary btn-lg btn-block" id="make_new_course" href="/makecourse" role="button">ساختن
            واحد</a>
    {% endif %}
    <a type="button" class="btn btn-primary btn-lg btn-block" id="courses" href="/courses" role="button"> لیست واحد
        ها</a>

    <form id="search_form">
        <label>
            <input name="search_query" type="text" placeholder="...Search">

        </label>
        <label>
            <input name="department" type="text" placeholder="دانشکده">

        </label>
        <label>
            <input name="teacher" type="text" placeholder="استاد">

        </label>
        <label>
            <input name="course" type="text" placeholder="درس">
        </label>

        <button name="submit">جستجوی درس</button>

    </form>

    <div id="search_results">نتایج جستجو:

    </div>
{% endblock %}